Admin/
ageSpecific_R0_Estim/
CausalImpact/
France_travelpatterns/
Kristofer_pythonwork/
URC Abstract_SB_0317_EL.docx
US_travelpatterns/
*/figures/
*/Figures/
*/plot_outputs/
*/graph_outputs/
Manuscript/
*/R_export/
*/import_data/
*/export_data/
Spatial_clustering/Julie_zip3/
Spatial_clustering/pysal_example/
Spatial_clustering/VDSTech_ZIP3/
Spatial_clustering/VDSTech_zip3continental_cl/
.Rhistory
Metapopulation_model/final_model_outputs/
Metapopulation_model/Flightdata_Worldpop/
Metapopulation_model/Model_Inputs/
Metapopulation_model/R_export/
*/Model_output/
*/model_outputs/
*.csv
*.pyc
*.png